.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

.roll {
  padding-top: 50px;
}

.btn{
  background-color: #bae8e8;
  color: #272343;
  cursor: pointer;
  border-radius: 15px;
  padding: 10px 20px;
  border: none;
  font-family: 'Indie Flower', cursive;
  font-size: 1.5rem;
}

body {
  background-color: #272343;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 7rem;
  color: #bae8e8;
}

p {
  font-size: 2rem;
  color: #bae8e8;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 3%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
